.about {
  background: #f3f3f3;
}

.about-row {
  font-family: "Signika Negative", sans-serif;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.about-col-img,
.about-col-content {
  flex-basis: 50%;
}

.about-img {
  width: 80%;
  height: 350px;
}

.about-img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.about-col-content h2 {
  margin-bottom: 20px;
}

.about-col-content p {
  line-height: 26px;
  margin-bottom: 20px;
  color: #5a5a5a;
}

.icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fff;
  margin-left: 8px;
  border-radius: 12px;
}

.icon img {
  width: 80%;
  height: 80%;
}

.icon:first-child {
  background: yellow;
}

.about-title {
  width: fit-content;
}

@media screen and (max-width: 1000px) {
  .about-col-img,
  .about-col-content {
    flex-basis: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .about-img {
    width: 65%;
    margin: 0 auto;
  }
  .about {
    height: 110vh;
  }
  .icons {
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .about {
    height: 115vh;
  }
}

@media screen and (max-width: 450px) {
  .about-img {
    width: 90%;
  }
  .about {
    height: 125vh;
  }
  .icon {
    margin-top: 8px;
  }
}
